body {
	font-family: 'PT Sans', sans-serif;
}

.navbar {	
	height: 108px;	
}

header {
	background: #15263e;
}

.navbar a {
	color: #DBDEDE;
	display: inline-block;
}

.navbar a:hover {
	text-decoration: none;
	background: linear-gradient(to right, #A31AF0, #FE0072);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@media (min-width: 992px)
.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: 0;
	padding-left: 2.5rem;
}

.navbar-nav {
	width: 100%;
	display: flex;
	justify-content: space-around;
	color: #DBDEDE;
	align-items: center;
}

.section-1 {
	background-image: url('photo1.png');
	background-size: cover;
	background-position: center;
	height: 800px;
}

.text-photo {
	text-align: center;
	margin-top: 100px;
}

.hello-text {
	color: white;
	font-size: 3em;
	line-height: 115px;

}

.john-text {
	font-size: 16em;
	background: linear-gradient(to right, #A31AF0, #FE0072);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	line-height: 80px;
}

.smith-text {
	font-size: 8em;
	color: white;
	letter-spacing: .45em;
	line-height: 80px;
	padding-left: 40px;
}

.exprience-text {
	font-size: 2em;
	color: white;
	line-height: 15px;
}



.btn {
	background: linear-gradient(to right, #A31AF0, #FE0072);
	color: white;
	border-radius: 0 !important;
	border: none;
	margin-top: 40px;
}

.section-2 {
	background-color: white;
	background-image: url(photo2.png);
	background-repeat: no-repeat;
    background-position: center;
    height: 590px;
    align-items: center;
    display: flex;
}

.john2-text {
	color: black;
	font-size: 40px;
	float: right;
	line-height: 15px;
	letter-spacing: 0.10em;
}

.designer-text {
	color: #9225D6;
	text-align: right;
	float: right;
	font-size: 20px;
}

.about-text {
	color: #4C4C4C;
	font-size: 25px;
	text-align: center;
}

.col-skill {
	text-align: center;
}

.col-skills, .col-about {
	margin-top: 100px;
	width: 35%;
	
}

.col-about {
	display: block;
	padding-left: 100px;
}

.lorem-text {
	display: inline-block;
	text-align: right;
}

.row {
	justify-content: space-between;
}